.preload {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.2rem;
}

.preload-text {
  font-family: monospace;
  font-size: 40px;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
  overflow: hidden;
  animation: blink 5s infinite;
}

@keyframes blink {
  0%,
  100% {
    color: rgb(154, 0, 0);
  }
  50% {
    color: rgb(89, 0, 152);
  }
}

.skip-button {
  width: fit-content;
  height: fit-content;
  bottom: 50px;
  right: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.about {
  display: flex;
  flex-direction: raw;
  position: relative;
  padding: 20px;
  margin: 20px 0;
}

.about p {
  font-size: 1.2rem;
}

.about h1 {
  color: #2d2e32;
  font-size: 3.5rem;
  line-height: 1.2;
  margin: 30px 0;
}

.social-icons img {
  height: 30px;
}

.social-icons {
  a {
    padding: 5px;
    display: inline-block;
  }
  img {
    transition: transform 0.3s;
  }
  a:hover {
    img {
      transform: scale(1.11);
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
}

.skills h2 {
  color: #2d2e32;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 30px;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.skills span {
  font-size: 16px;
  font-weight: bold;
}

.skills li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;
  transition: transform 0.3s;
}

.skills li:hover {
  transform: scale(1.11);
  animation: 1ms;
}

.skills img {
  width: 65px;
  height: 65px;
}
