.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: rgb(68, 68, 68);
  color: #fff;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  margin-right: 15px;
  padding: 0 10px;
  text-decoration: none;
  text-align: center;
  align-self: center;

  &:hover {
    background-color: #4361ee;
  }
}

.buttons {
  button {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
}
